
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background: #BBBBBB;
}
/*-------------------------------------------*/


/*-----------------------------------------*/
.top-nav{
	background: grey;
	text-decoration: none;
}
.navbar {
	display: flex;
	font-size: 25px;
	/*padding: 10px 20px;*/
/*	background: grey;*/

}
.brand-link{
	padding: 10px 20px;
	color: black;
}

.nav-toggle {
	/*background: blue;*/
	padding: 10px;
	margin-left: auto;
	transition: .5s;
}
.nav-toggle:hover{
	background: lightgrey;
}
.brand-link{
	text-decoration: none;
	content: black;
}
.nav-list a{
	width: 100%;
	color: black;
	text-decoration: none;
}

li{

	list-style: none;
	/*text-decoration: none;*/
	background: darkgrey;
	color: black;
	padding: 10px;
	transition: .5s;

}
li:hover{
	background: white;

}
.nav-list-collapsed {
	display: none;
}
/*-------------------------------------------------------*/
